<div id="header">
  <%= image_tag("", size: "120x120", alt: "logo Image") %>

  <div class="menubar">
  <%= link_to "TOP", "#"  %> &nbsp;|&nbsp;
  <%= link_to "ニュース", "#" %> &nbsp;|&nbsp;
  <%= link_to "ブログ", "#" %> &nbsp;|&nbsp;
  <%= link_to "会員名簿", "#" %> &nbsp;|&nbsp;
  <%= link_to "管理ページ", "#" %>
  <%= link_to "TOP" %>

  <%= link_to "文字列", "パス" %>
  </div>

</div>
